//bibliotecas
@import url("https://use.typekit.net/oqh1shf.css");//adobe font
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Notable&display=swap');//google font


//utilities
@import'assets/style/variable';
@import'assets/style/mixin';
@import'assets/style/animation';


//pages
@import 'assets/style/header-catalog';
@import'assets/style/reset';
@import'assets/style/services';
@import'assets/style/laser';
@import'assets/style/other-services';
@import'assets/style/footer';



body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $semi-white;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}