.header-catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 100%;
    background-color: $white;
    
    .header-catalog__menu{
        display: grid;
        grid-template: 1fr / 15% 70% 1fr;

        width: 90%;
        gap: 10px;
        padding: 30px;

        border-bottom: solid $tirth-color 1px;

        .header-catalog__container-logo{
            display: flex;
            justify-content: center;
            align-items: center;

            .header-catalog__logo-img{
                width: 100%;
                max-width: 200px;
            }
        }

        .header-catalog__nav{
            display: flex;
            justify-content: center;
            align-items: center;

            .header-catalog__list{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 10px;
                width: 100%;

                .header-catalog__item{
                    text-align: center;
                    @include font($primary-font, $secondary-color, clamp(.51em, 1vw, 1em));
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: solid $tirth-color 1px;
                    
                }
            }
        }

        .header-catalog__whatsapp-container{
            display: flex;
            justify-content: end;
            gap: 10px;
            align-items: center;

            .header-catalog__whatsapp-icon{
                font-size: 2em;
            }
        }
    }

    .header-catalog__title-container{
        padding: 30px;
        width: 100%;
        
        .header-catalog__title{
            width: 100%;
            @include font ($primary-font, $secondary-color, clamp(1rem, 10vw, 9rem));
            animation: tracking-in-contract ease-in-out 1s;
            text-align: center;
        }
    }
}

/*====================================TABLET=======================================*/

@media (min-width: 400px) and (max-width: 990px) {
    .header-catalog{

        .header-catalog__menu{
            grid-template: 1fr 1fr 1fr / 1fr;
            
            .header-catalog__nav{
    
                .header-catalog__list{
    
                    .header-catalog__item{
                        flex-grow: 1;
                    }
                }
            }
    
            .header-catalog__whatsapp-container{
                justify-content: center;
                padding: 0 30px;
            }
        }
    
        .header-catalog__title-container{

            .header-catalog__title{
                @include font ($primary-font, $secondary-color, clamp(1rem, 10vw, 9rem));
            }
        }
    }
}