.laser{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: $tirth-color;
    width: 100%;

    .laser__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
        width: 90%;
        
        .laser__title{
            @include font ($secondary-font, $secondary-color, clamp(1em, 4vw, 3em));
            opacity: 0;
            animation: fade-in-bottom ease-in-out .5s forwards ;
        }
        .laser__text{
            @include font ($secondary-font, $secondary-color, clamp(1em, 2vw, 1.5em));
            opacity: 0;
            animation: fade-in-bottom ease-in-out 1s forwards;
        }
    }

    .laser__content{
        display: grid;
        grid-template: repeat(3, auto) / repeat(3, auto);
        gap: 30px;
        width: 90%;

        .laser__container-reference{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: 30px;
            gap: 30px;

            @include font ($secondary-font, $secondary-color, clamp(1rem, 2vw, 3rem));
            background-color: $white;
            border-radius: 30px;
            
            .laser__container-list{
                grid-area: 1/1/2/2;
                
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
                flex-wrap: wrap;
                @include font ($secondary-font, $secondary-color, clamp(.7rem, 1vw, 1.5rem));
    
                .laser__item-reference{
                    text-align: center;
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: solid $tirth-color 1px;
                    flex-grow: 1;
                }
            }
        }


        .laser__container-price{
            grid-area: 2/1/3/2;

            @media (min-width: 600px) and (max-width: 1165px){
                grid-area: 2/1/3/3;
            }

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;

            .laser__item-price{
                @include price;
            }
        }

        .laser__container-btn-action{
            grid-area: 3/1/4/2;

            @media (min-width: 600px) and (max-width: 1165px){
                grid-area: 3/1/3/3;
            }

            .laser__btn-action{
                @include btn-action;
            }
        }

        .laser__container-img{
            grid-area: 1/2/4/3;

            @media (min-width: 600px) and (max-width: 1165px){
                grid-area: 2/3/4/4;
            }

            display: flex;
            overflow: hidden;
            border-radius: 30px;

            .laser__img{
                object-fit: cover;
                width: 100%;
            }
        }

        .laser__container-controlls{
            grid-area: 1/3/4/4;

            @media (min-width: 600px) and (max-width: 1165px){
                grid-area: 1/2/2/4;
            }
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 30px;

            border-radius: 30px;
            border: solid $fourth-color;
            
            .laser__controlls-title{
                @include font ($secondary-font, $secondary-color, clamp(1em, 4vw, 3em));
                text-align: center;
                opacity: 0;
                animation: fade-in-bottom ease-in-out .5s forwards ;
                }

            .laser__container-measure-controlls{
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                width: 100%;

                .laser__measure-controll{
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    height: 100%;
                    width: 100%;
                    
                    
                    .laser__btn-measure-controll {
                        @include font ($secondary-font, $secondary-color, clamp(.7rem, 1vw, 1.5rem));
                        
                        width: 100%;
                        height: 100%;
                        padding: 10px;
                        
                        cursor: pointer;
                        border-radius: 10px;
                        background-color: $primary-color;
                        transition: .3s;
                        
                        &:hover {
                            background-color: $v-primary-color;
                        }
                    }

                    .laser__btn-measure-controll--active{
                        background-color: $fourth-color;

                        &:hover {
                            background-color: $fourth-color;
                        }
                    }
                }
            }
        }
    }
}