// aninhahados no .silk-tampo-peq na folha principal
.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    width: 90%;
    text-align: center;    

    .description__title{
        @include font ($secondary-font, $secondary-color, clamp(1em, 4vw, 3em));
        opacity: 0;
        animation: fade-in-bottom ease-in-out 1s forwards ;
    }

    .description__sub-title{
        @include font ($secondary-font, $secondary-color, clamp(1em, 2vw, 2em));
        opacity: 0;
        animation: fade-in-bottom ease-in-out 1.3s .5s forwards;

    }

    .description__text{
        @include font ($secondary-font, $secondary-color, clamp(1em, 2vw, 1.5em));
        opacity: 0;
        animation: fade-in-bottom ease-in-out 1.6s 1s forwards ;

    }
}

.carousel{
    display: flex;
    width: 100%;
    overflow: hidden;

    .carousel__content{
        display: flex;
        gap: 30px;
        transform: translateX(0);
        animation: scrollInfinite 60s linear infinite;


        .carousel__img{
            width: 300px;
            border-radius: 30px;
        }

        video{
            object-fit: cover;
            object-position: center;
        }
    }
}

.controller{
    display: grid;
    grid-template: 1fr 1fr auto / 1fr 1fr;
    gap: 30px;
    width: 90%;
    height: fit-content;
    padding: 30px 30px 30px 0;

    .controller__container-btn{
        grid-area: 1/2/4/2;
        
        display: grid;
        grid-template: 1fr auto / 1fr 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 30px;

        height: 100%;
        width: 100%;

        border-radius: 30px;
        background-color: $tirth-color;

        .controller__container-cores, .controller__container-gravacao{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;

            width: 100%;
            height:300px;

            border: solid 2px $fourth-color;
            border-radius: 30px;

            align-self: center;
            justify-self: center;

            .controller__arrows {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3em;
                width: 100%;
                height: 50%;
                cursor: pointer;
                color: $fourth-color;
                transition: .3s;

                &:hover {
                    color: $primary-color;
                }
            }

            .controller__arow-down{
                align-items: end;
                bottom: 0;
            }

            .controller__arow-up{
                align-items: start;
                top: 0;
            }

            .controller__btn{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                @include font($secondary-font, $fourth-color, clamp(1em, 4vw, 7em));
            }

            .controller__text{
                @include font($secondary-font, $fourth-color, clamp(1em, 2vw, 2em));

            }
        }

        .controller__container-cores{
            grid-area: 1/1/2/2;;
        }

        .controller__container-gravacao{
            grid-area: 1/2/2/3;
        }
    }

    .contoller__info{
        grid-area: 1/1/2/2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
        border-radius: 30px;
        padding: 30px;
        background-color: $tirth-color;

        .controller__title{
            @include font ($primary-font, $secondary-color, clamp(1rem, 2vw, 3rem));
            animation: tracking-in-contract ease-in-out 1s;
        }
    
        .controller__text{
            @include font($secondary-font, $fourth-color, clamp(.7em, 1vw, 1.5em));
            animation: slide-in-top ease-in .6s infinite alternate;

        }

    }

    .controller__container-price{
        grid-area: 2/1/3/2;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

        .controller__price-value{
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            padding: 10px;
            
            max-width: 100%;
            border-radius: 10px;
            background-color: $primary-color;
            opacity: 0;
            
            @include font($secondary-font, $white, clamp(.7em, 1vw, 1.2em));
            animation: colorBtnIncrement ease-in .3s forwards;
            transition: .3s;

            &:hover{
                background-color: $secondary-color;
                color: $tirth-color;

                strong{
                    color: $primary-color;
                }
            }

            strong{
                color: $secondary-color;
            }
        }
    }

    .controller__action{
        grid-area: 3/1/4/2;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 30px;
        width: 100%;

        border-radius: 30px;
        border: $fourth-color 3px solid;
        transition: .3s;

        @include font($secondary-font, $fourth-color, clamp(1em, 2vw, 2em));

        &:hover{
            color: $tirth-color;
            background-color: $fourth-color;
        }
    }
}


/*==================================smartphone==================================*/

@media (min-width: 400px) and (max-width: 600px) {
    .controller{ 
        .controller__container-btn{
            grid-area: 1/2/4/2;
            max-height: 100vh;
                
            .controller__container-cores, .controller__container-gravacao{
                .controller__btn{
                    @include font($secondary-font, $fourth-color, clamp(4em, 6vw, 7em));
                }
            }
    
            .controller__container-cores{
                grid-area: 1/1/2/3;
                max-height: 40vh;
            }
    
            .controller__container-gravacao{
                grid-area: 2/1/3/3;
                max-height: 40vh;
            }
        }
    }
}