
$black: #000000ff;
$secondary-color: rgb(32, 51, 92);
$primary-color: #fca311ff;
$tirth-color: #e5e5e5ff;
$fourth-color: #417af3;
$white: #ffffffff;

$v-primary-color: rgb(212, 135, 10);

$primary-font: "mono45-headline", monospace;
$secondary-font: "museo", serif;