
$black: #000000ff;
$secondary-color: #2d5588;
$primary-color: #F2A516;
$tirth-color: #e5e5e5ff;
$fourth-color: #23468C;
$white: #ffffffff;
$semi-white: #f1f1f1;

$v-primary-color: #F28B0C;

$primary-font: "mono45-headline", monospace;
$secondary-font: "museo", serif;