
$primary-color: #F2B441;
$secondary-color: #91E9F2;
$tirth-color: #F0F0F2;
$fourth-color: #5852F2;
$fifth-color: #F25041;

$white: #ffffffff;
$black: #1e1e1f;

$semi-white: #f1f1f1;
$semi-black: rgb(97, 97, 107);

$v-primary-color: #F28B0C;

$primary-font: "Notable", sans-serif;
$secondary-font: "Lexend Zetta", sans-serif;
